<footer class="foot" role="contentinfo">
    <ul class="horizontalUl footText footUl">
      <li>
        <a href="#top">
          Top of page
        </a>
      </li>

      <li>
        <a href="mailto:ctavispost@gmail.com" target="_blank">
          <!-- <span class="fa fa-envelope-square" aria-hidden="true"></span> -->
          Get in touch
        </a>
      </li>

      <li>
        <a href="https://www.linkedin.com/in/c-tavis-post-0604609/" target="_blank">
          <!-- <span class="fa fa-linkedin-square" aria-hidden="true"></span> -->
          LinkedIn
        </a>
      </li>

      <li>
        <a href="https://github.com/ctavispost/" target="_blank">
          <!-- <span class="fa fa-github-square" aria-hidden="true"></span> -->
          Github
        </a>
      </li>

      <!-- facebook
      <li>
        <a href="https://www.facebook.com/TheTavisPost">
          <span class="fa fa-facebook-square" aria-hidden="True"></span>
          <span class= social>Facebook</span>
        </a>
      </li>
      -->

      <li>
        <a href="https://twitter.com/Ctavispost" target="_blank">
          <!-- <span class="fa fa-twitter-square" aria-hidden="true"></span> -->
          Twitter
        </a>
      </li>
    </ul>

    <p class="footText copywrite switchColor">&copy C. Tavis Post 2019</p>
</footer>
