<a id="top"></a>

<nav class="navbar" role="navigation">
  <a class="brand" href="index.html">
      <img src="images/logo/logoDarkWhiteAndBlue.svg" alt="round logo of initials CTP" class="logo preferDark">
      <img src="images/logo/logoLightBlackAndBlue.svg" alt="round logo of initials CTP" class="logo preferLight">
  </a>
  <ul class="horizontalUl navUl navUlHead">
    <li>
       <a href="mailto:ctavispost@gmail.com" target="_blank" class="navText">Contact</a>
    </li>
    <li>
      <a href="index.html#projects" class="navText spaceToLeft">UX</a>
    </li>
    <li>
      <a href="illustration.html" class="navText SpaceToLeft">Art</a>
    </li>
    <li>
      <a href="random.html" class="navText SpaceToLeft">Random</a>
    </li>
    <li>
      <a href="resume.html" class="navText spaceToLeft">Resume</a>
    </li>
    <li>
      <a href="about.html" class="navText spaceToLeft">About</a>
    </li>
  </ul>
</nav>
