<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  <title>{% if page.title %}{{ page.title }} | {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>

  <!-- normalize styles -->
  <link
    href="https://necolas.github.io/normalize.css/8.0.1/normalize.css"
    rel="stylesheet"
  />

  <!-- Monoton and Roboto fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Monoton|Roboto&display=swap"
    rel="stylesheet"
  />

  <!-- Custom Styles -->
  <link
    href="styles/main.css"
    rel="stylesheet"
  />

  <!-- favicons -->
  <link
    href="/favicon-16x16.png"
    rel="icon"
    type="image/png"
    sizes="16x16"
  />
  <link
    href="/favicon-32x32.png"
    rel="icon"
    type="image/png"
    sizes="32x32"
  />
  <link
    href="/favicon-96x96.png"
    rel="icon"
    type="image/png"
    sizes="96x96"
  />
  <link
    href="/apple-touch-icon-180x180.png"
    rel="apple-touch-icon"
    sizes="180x180""
  />
</head>
