<nav class="navbar" role="navigation">
  <a class="brand" href="index.html">
      <img src="images/logo/logoDarkWhiteAndBlue.svg" alt="round logo of initials CTP" class="logo">
      <!-- <h1 class="navText spaceToLeft">C. Tavis Post</h1> -->
  </a>
  <ul class="horizontalUl navUl">
    <li>
       <a href="mailto:tavispost@gmail.com" target="_blank" class="navText">Contact</a>
    </li>
    <li>
      <a href="index.html#projects" class="navText spaceToLeft">Projects</a>
    </li>
    <li>
      <a href="about.html" class="navText spaceToLeft">About me</a>
    </li>
  </ul>
</nav>
