html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
}

p {
  margin-bottom: 2rem;
}

p + ul, p + ol {
  margin-top: -2rem;
  margin-bottom: 2rem;
}

.navbar {

}

.brand {

}

.logo {

}

.brandHeading {

}

.intro {

}

.heading {

}

.introText {

}

.stageWhisper {

}

.studies {

}

#projects {

}

.project {

}

.project01 {

}

.project02 {

}

.project03 {

}

.illustration {

}
