@font-face {
  font-family: 'TNG_Title';
     src: url('../fonts/TNG_Title.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

main {
  display: flex;
  justify-content: center;
}

.btCont {
  display: grid;
  grid-row-gap: 1rem;
  grid-template-rows: auto;
  grid-template-areas:
    "btTitle"
    "."
    "btBinge"
    "."
    "btIntro"
    "."
    "btSub"
    "btDrunk"
    "."
    "btStory"
    "."
    "btPalm";
}

@media screen and (min-width: 800px) {
  .btCont {
    max-width: 80ch;
    grid-column-gap: 2rem;
    grid-template-columns: minmax(10rem, 1fr) minmax(10rem, 66ch) minmax(8rem, 1fr);
    grid-template-areas:
      "btTitle btTitle btTitle"
      "btBinge btIntro btIntro"
      ". . ."
      "btSub btSub btSub"
      ". btDrunk ."
      "btStory btStory ."
      ". btPalm btPalm";
  }
}

.trekTitle {
  font-family: 'TNG_Title', 'Audiowide', sans-serif;
  grid-area: btTitle;
}

.trekSub {
  font-family: 'Roboto', sans-serif;
}

.photoMedResp {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.binger {
  grid-area: btBinge;
}

.trekIntro {
  grid-area: btIntro;
}

.drunkard {
  grid-area: btDrunk;
}

.trekSubHd {
  grid-area: btSub;
}

.trekStory {
  grid-area: btStory;
}

.photoLGResp {
  max-width: 100%;
  height: auto;
  object-fit: scale-down;
}

.palm {
  grid-area: btPalm;
}

.justFlexEnd {
  justify-content: flex-end;
}
