@font-face {
  font-family: 'TNG_Title';
     src: url('../fonts/TNG_Title.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.trekTitle {
  font-family: 'TNG_Title', 'Audiowide', sans-serif;
}

.trekSub {
  font-family: 'Roboto', sans-serif;
}

.photoMedResp {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.order1 {
  order: -1;
}

.photoLGResp {
  max-width: 100%;
  height: auto;
  object-fit: scale-down;
}
